.gallery {
  max-width: 1280px;
  padding-top: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 413px));
  justify-content: center;

  column-gap: 20px;
  row-gap: 40px;
  padding-bottom: 40px;
  border-bottom: solid 1px #21212166;
}

.gallery__content {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  max-width: 100%;
}

.gallery__photo {
  width: 100%;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.gallery__photo-label {
  margin: 12px 0 0 0;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 100%;
}

.gallery__photo-name {
  margin: 0 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 85%;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.gallery__like-icon {
  cursor: pointer;
  background-color: transparent;
  background-image: url(../images/Like-Icon.png);
  background-position: center;
  background-size: cover;
  border: none;
  height: 20px;
  width: 23px;
  opacity: 40%;
}

.gallery__like-icon:hover {
  opacity: 100%;
}

@media screen and (max-width: 500px) {
  .gallery {
    grid-template-columns: 288px;
    margin: auto;
    padding-bottom: 20px;
    row-gap: 20px;
  }
  .gallery__photo-label {
    font-size: 16px;
    line-height: 1;
  }
}
