.header {
  margin: auto;
  max-width: 1440px;
}

.header__logo-bar {
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
}

.header__logo {
  height: 26px;
}
